table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}
.home_bp {
  background: transparent url(../img/sa-logo.png) top center no-repeat;
  padding-top: 20em;
  text-align: center;
}
.home_bp h1 {
  font-size: 1.6em;
}
.home_bp p {
  font-size: 1.2em;
}
.copy-table {
  display: inline-block;
  vertical-align: top;
}
.aid_table_select {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}
.input-micro {
  width: 40px;
}
.top-buffer {
  margin-top: 80px;
}
.table_image img {
  max-width: 100px;
  width: 100%;
  height: auto;
}
