{% extends base_layout %}

{% block title %}
        {% trans %}Add Aid{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Add Aid{% endtrans %}
{% endblock %}

{% block content %}
    <form id="form_add_aid" action="{{ url|safe }}" enctype="multipart/form-data" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception|e }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.name, label=_("Name"), placeholder=_("Enter Product")+" "+_("Name"), class="input-xlarge focused required") }}
            {{ macros.field(form.cost, label=_("Cost"), placeholder=_("Enter Product")+" "+_("Cost"), class="input-xlarge required") }}
            {{ macros.field(form.maintenance, label=_("Maintenance"), placeholder=_("Enter Maintenance cost per year"), class="input-xlarge") }}
            {{ macros.field(form.replacement, label=_("Replacement"), placeholder=_("Enter Product lifetime (years between replacement)")+" "+_("Cost"), class="input-xlarge") }}
            {{ macros.field(form.installation, label=_("Installation"), placeholder=_("Enter Product")+" "+_("Installation Cost"), class="input-xlarge") }}
            {{ macros.field(form.postage, label=_("Postage"), placeholder=_("Enter Product")+" "+_("Postage Cost"), class="input-xlarge") }}
            {{ macros.field(form.supplier, label=_("Supplier"), class="input-xlarge") }}
            {{ macros.field(form.tags, label=_("Tags"), placeholder=_("Enter Product")+" "+_("Tags"), class="input-xlarge") }}
            {{ macros.field(form.notes, label=_("Notes"), class="input-xlarge", cols="40", rows="8") }}
            {{ macros.field(form.image, label=_("Image"), class="input-xlarge") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    {% if im_url is not none %}<a href="{{ im_url }}"></a> {% endif %}
{% endblock %}

{% block mediaJS %}
<script>
    $().ready(function() {
        $("#form_add_aid").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

