{% extends base_layout %}

{% block content %}
    <form id="form_add_aid" action="{{ url|safe }}" enctype="multipart/form-data" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception|e }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.image, label=_("Image"), class="input-xlarge", name="aid_img") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
